/Templates/*.exe
/Templates/origin-master

/Dev/*.o
/Dev/*.exe
/Dev/*.layout
/Dev/*.win

/Tex/*.aux
/Tex/*.log
/Tex/*.out
/Tex/*.gz
/Tex/*.toc
/Tex/test

/Tex/Wstep/*.aux
/Tex/Wstep/*.log
/Tex/Wstep/*.out
/Tex/Wstep/*.gz
/Tex/Wstep/*.toc

/Tex/Koncepty/*.aux
/Tex/Koncepty/*.log
/Tex/Koncepty/*.out
/Tex/Koncepty/*.gz
/Tex/Koncepty/*.toc

/Tex/Koncepty/Podrozdzial1/*.aux
/Tex/Koncepty/Podrozdzial1/*.log
/Tex/Koncepty/Podrozdzial1/*.out
/Tex/Koncepty/Podrozdzial1/*.gz
/Tex/Koncepty/Podrozdzial1/*.toc

/Tex/Koncepty/Podrozdzial2/*.aux
/Tex/Koncepty/Podrozdzial2/*.log
/Tex/Koncepty/Podrozdzial2/*.out
/Tex/Koncepty/Podrozdzial2/*.gz
/Tex/Koncepty/Podrozdzial2/*.toc

/Tex/Koncepty/Podrozdzial3/*.aux
/Tex/Koncepty/Podrozdzial3/*.log
/Tex/Koncepty/Podrozdzial3/*.out
/Tex/Koncepty/Podrozdzial3/*.gz
/Tex/Koncepty/Podrozdzial3/*.toc

/Tex/Koncepty/Podrozdzial4/*.aux
/Tex/Koncepty/Podrozdzial4/*.log
/Tex/Koncepty/Podrozdzial4/*.out
/Tex/Koncepty/Podrozdzial4/*.gz
/Tex/Koncepty/Podrozdzial4/*.toc

/Tex/Koncepty/Podrozdzial5/*.aux
/Tex/Koncepty/Podrozdzial5/*.log
/Tex/Koncepty/Podrozdzial5/*.out
/Tex/Koncepty/Podrozdzial5/*.gz
/Tex/Koncepty/Podrozdzial5/*.toc

/Tex/Koncepty/Podrozdzial6/*.aux
/Tex/Koncepty/Podrozdzial6/*.log
/Tex/Koncepty/Podrozdzial6/*.out
/Tex/Koncepty/Podrozdzial6/*.gz
/Tex/Koncepty/Podrozdzial6/*.toc

/Tex/Koncepty/Podrozdzial7/*.aux
/Tex/Koncepty/Podrozdzial7/*.log
/Tex/Koncepty/Podrozdzial7/*.out
/Tex/Koncepty/Podrozdzial7/*.gz
/Tex/Koncepty/Podrozdzial7/*.toc

/Tex/Koncepty/Podrozdzial8/*.aux
/Tex/Koncepty/Podrozdzial8/*.log
/Tex/Koncepty/Podrozdzial8/*.out
/Tex/Koncepty/Podrozdzial8/*.gz
/Tex/Koncepty/Podrozdzial8/*.toc

/Tex/Koncepty/Wprowadzenie/*.aux
/Tex/Koncepty/Wprowadzenie/*.log
/Tex/Koncepty/Wprowadzenie/*.out
/Tex/Koncepty/Wprowadzenie/*.gz
/Tex/Koncepty/Wprowadzenie/*.toc

/Tex/Szablony/*.aux
/Tex/Szablony/*.log
/Tex/Szablony/*.out
/Tex/Szablony/*.gz
/Tex/Szablony/*.toc

/Tex/Szablony/Wstep/*.aux
/Tex/Szablony/Wstep/*.log
/Tex/Szablony/Wstep/*.out
/Tex/Szablony/Wstep/*.gz
/Tex/Szablony/Wstep/*.toc

/Tex/Szablony/Podrozdzial1/*.aux
/Tex/Szablony/Podrozdzial1/*.log
/Tex/Szablony/Podrozdzial1/*.out
/Tex/Szablony/Podrozdzial1/*.gz
/Tex/Szablony/Podrozdzial1/*.toc

/Tex/Szablony/Podrozdzial2/*.aux
/Tex/Szablony/Podrozdzial2/*.log
/Tex/Szablony/Podrozdzial2/*.out
/Tex/Szablony/Podrozdzial2/*.gz
/Tex/Szablony/Podrozdzial2/*.toc

/Tex/Szablony/Podrozdzial3/*.aux
/Tex/Szablony/Podrozdzial3/*.log
/Tex/Szablony/Podrozdzial3/*.out
/Tex/Szablony/Podrozdzial3/*.gz
/Tex/Szablony/Podrozdzial3/*.toc

